.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    width: 90%;
    margin: 20px 0 20px 0;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.link {
    text-decoration: none;
    color: var(--text-alt);
    font-size: 30px;
    transition: color 0.5s;

}

.link:hover {
    color: var(--text);
}

.link:not(:hover) {
    animation: linkHoverAnimation 0.5s backwards;
}

.made-with {
    margin-top: 20px;
    font-size: 14px;
    color: var(--text-alt);
}

@keyframes linkHoverAnimation {
    0% {
        color: var(--text);
    }
    100% {
        color: var(--text-alt);
    }
}

.footer-div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--dark-gray);
}

@media screen and (max-width: 900px) {
    .contacts {
        flex-direction: column;
    }

    .footer-div {
        opacity: 0; /* keep it there for the spacing that this gives */
    }
}
