.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.splash-top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.splash-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}

.sections-container {
    display: flex;
    flex-direction: column;

    width: 15%;
    padding-top: 40px;
    font-size: 24px;
}

.section {
    color: var(--text-alt);
    transition: color 0.5s;
    width: inherit;
}

.section:hover {
    color: var(--text);
}

.section:not(:hover) {
    animation: sectionHoverAnimation 0.5s backwards;
}

@keyframes sectionHoverAnimation {
    0% {
        color: var(--text);
    }
    100% {
        color: var(--text-alt)
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    font-size: 8vw;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.description {
    /* font-size: 2vw; */
    font-size: 30px;
    text-align: center;
    max-width: 60%;
    margin-top: 50px;
}

@media screen and (max-width: 700px) {
    .description {
        font-size: 20px;
    }
}

.banner-text {
    font-size: 20px;
    color: var(--text-alt);
    margin-right: 120px;
}

.white {
    position: absolute;
    z-index: 1;
    opacity: 0;
    color: var(--text);
}

.top {
    color: var(--red);
}

.middle {
    color: var(--green);
}

.bottom {
    color: var(--blue);
}

.arrow {
    position: fixed;
    right: 10px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow .tip {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 15px solid var(--text-alt);
}

.arrow .body {
    height: 40px;
    width: 5px;
    background: var(--text-alt);
}
