.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    margin: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--blue);
}

.videos-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
}

.video-container {
    overflow: hidden;
    left: 0;
    top: 0;
    position: relative;
    height: 100%;
    width: 100%;
}
