.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    margin: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--blue);
}

.videos-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 30px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 28.125%;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 20;
}

iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
}

@media screen and (max-width: 900px) {
    .videos-box {
        flex-direction: column;
    }

    .video-responsive {
        height: 100%;
        padding-bottom: 56.25%;
    }

    iframe {
        height: 100%;
    }

    .video-container {
        height: 100%;
    }
}
