.works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.diamond {
    margin: 20px;
    background-color: var(--red);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
}

.title {
    font-size: 50px;
}

.works-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.work {
    position: relative;
}

a {
    text-decoration: none;
    color: var(--text);
}

.work-img {
    width: 100%;
    opacity: 100%;
    transition: opacity 0.5s;
    content: "text";
}

.work-name {
    font-size: 2.2vw;
}

.work-info {
    width: 100%;
    height: 80%;
    opacity: 0%;
    font-size: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.work-info-dropdown {
    position: relative;
    font-size: 3vw;
    overflow: hidden;
    text-align: center;
    background: var(--dark-gray);
    border-radius: 10px;
}

.work:hover .work-info.dropdown {
    height: 100%;
}

.work:hover .work-img {
    opacity: 15%;
}

.work:hover .work-info {
    opacity: 100%;
}

.work-img.hovered {
    opacity: 15%;
}

.work-info.hovered {
    opacity: 100%;
}

.work-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-stack {
    color: var(--text-alt);
    font-size: 1.5vw;
}

.visit-button {
    text-decoration: underline;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .works-grid {
        display: flex;
        flex-direction: column;
    }

    .work-info {
        font-size: 3.5vw;
    }

    .work-name {
        font-size: 4vw;
    }

    .work-stack {
        font-size: 3vw;
    }

    .work-footer {
        flex-direction: column;
        /* justify-content: center; */
    }
}
